
.s1{
  display: flexbox;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.73);
  background-size: 100%;
  height:100vh;
  margin: 1rem;
  margin-bottom: 1rem;
  width: auto;
  margin-top: 1rem;
  
}

.s2{
  display: flexbox;
  flex-direction: column;
  width: 50vw;
 
  background-color: rgb(22, 212, 51);
}

.s3{
  display: flexbox;
  flex-direction: column;
  background-color: rgb(215, 16, 16);
}