.s2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: rgb(113, 198, 15);
  margin: 0;
}
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.s1 {
  display: flex;
  flex-direction: row;
  background-color: rgba(8, 192, 39, 0.73);
  background-size: 100%;
  height: 100vh;
  margin: 1rem;
  margin-bottom: 1rem;
  width: auto;
  margin-top: 1rem;
}

.s2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 97vh;
  background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
  margin: auto 5vh;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.56);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.56);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.56);
}

.s3 {
  display: flex;
  width: 125px;
  height: 97vh;
  flex-direction: column;
  background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
  margin: auto 1vh;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.32);
 -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.32);
 -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.32);
}

.s4 {
  display: flex;
  flex-direction: row;
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;
  background-size: 100%;
  height: 100vh;
  margin: 0 auto;
  width: 100%;
}

.s5 {
  width: 5rem;
  height: 3rem;
  margin: 1rem;
  background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
 background-blend-mode: normal, lighten, soft-light;
}


.b2 {
  width: 5rem;
  height: 3rem;
  margin: 1rem;
  background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
 background-blend-mode: normal, lighten, soft-light;
}


